<div class="d-flex justify-content-center mt-5">
  <div class="user-list-container">
    <div>
      <%= link_to "Create Project", new_project_path, class:"btn btn-primary float-project mb-2",data: {turbolinks: false} %>
      <%= search_form_for @q, url: projects_path, method: :get do |f| %>
        <%= f.label :name_cont, "Search by Name" %>
        <%= f.search_field :name_cont %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Information</th>
          <th>Deadline</th>
          <th>Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each_with_index do |project, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= project.name %></td>
            <td><%= project.information %></td>
            <td><%= project.deadline %></td>
            <td><%= project.project_type %></td>
            <td><%= project.status %></td>
            <td>
            <%= link_to project_path(project), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
              <span><i class="fa-solid fa-trash mx-2" style="color: #ff3300;"></i></span>
            <% end %>
            <%= link_to edit_project_path(project) do %>
              <i class="fa-solid fa-pen" style="color: #000000;"></i>
            <% end %>
            <%= link_to project_path(project) do %>
              <i class="fa-solid fa-eye mx-2" style="color: #000000;"></i>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @projects,
      theme: 'bootstrap-5',
      pagination_class: "pagination justify-content-end w-100",
      nav_class: "d-flex page-paginate w-100"
    %>
  </div>
</div>
