<div class="container mt-5">
  <h2>Create Project</h2>
  <div class="user-new-container">
    <%= form_with(model: @project, url: projects_path, data: { turbo_method: :post }) do |form| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :information %>
            <%= form.text_area :information, class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :deadline %>
            <%= form.date_field :deadline, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <%= form.label :project_type %>
            <%= form.select(:project_type, [['lab', 'lab'],
                  ['single', 'single'],
                  ['acceptance', 'acceptance']],
                  {},
                  { class: "form-control" }) %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :status %>
            <%= form.select(:status, [['planned', 'planned'],
                  ['onhold', 'onhold'],
                  ['doing', 'doing'],
                  ['done', 'done'],
                  ['cancelled', 'cancelled']],
                  {},
                  { class: "form-control" }) %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :users, "Select user" %>
            <%= form.select(:user_ids,
                          @users.collect { |user| [user.name, user.id] },
                          {},
                          { class: "form-control", id: "multiple-select-field", multiple: true, "data-placeholder" => "Choose anything" }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form.submit "Create Project", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
      $('#multiple-select-field').select2({
      theme: 'bootstrap-5',
      width: $(this).data('width')
        ? $(this).data('width')
        : $(this).hasClass('w-100')
        ? '100%'
        : 'style',
      placeholder: $(this).data('placeholder'),
      closeOnSelect: false,
    });
</script>
