<!DOCTYPE html>
<html>
  <head>
    <title>EmployManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- flash message -->
    <div class="position-absolute z-index-999 alert-center" data-controller="hello-controller">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-success hidden-flash">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
