<div class="d-flex justify-content-center mt-5">
  <div class="user-list-container">
    <%= link_to "Create Member", new_member_path, class: "btn btn-primary float-right mb-2" %>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Position</th>
          <th>Birth</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.position %></td>
            <td><%= user.birth %></td>
            <td>
            <%= link_to member_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
              <span><i class="fa-solid fa-trash mx-2" style="color: #ff3300;"></i></span>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
