<div class="d-flex justify-content-center mt-5">
  <div class="user-list-container">
    <div>
      <%= link_to "Create Member", new_member_path, class: "btn btn-primary float-user mb-2" %>
      <%= search_form_for @q, url: members_path, method: :get do |f| %>
        <%= f.label :name_cont, "Search by Name" %>
        <%= f.search_field :name_cont %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Position</th>
          <th>Birth</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <%# <% order_number = 1 + (params[:page].to_i - 1) * Kaminari.config.default_per_page %>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.position %></td>
            <td><%= user.birth %></td>
            <td>
            <%if user != current_user %>
              <%= link_to member_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                <span><i class="fa-solid fa-trash mx-2" style="color: #ff3300;"></i></span>
              <% end %>
              <%= link_to edit_member_path(user) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users,
      theme: 'bootstrap-5',
      pagination_class: "pagination justify-content-end w-100",
      nav_class: "d-flex page-paginate w-100"
    %>
  </div>
</div>
