<div class="container mt-5">
  <div class="user-list-container">
    <%= link_to "Create Member", new_member_path, class: "btn btn-primary float-right mb-2" %>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Position</th>
          <th>Birth</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.position %></td>
            <td><%= user.birth %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
