<div class="container mt-5" data-controller="hello">
  <h2>Create member</h2>
  <div class="">
    <%= form_with(model: @user, url: members_path, data: { turbo_method: :post, turbo: false }) do |form| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
            <p class='error text-color-errors'><%= show_errors(@user, :name) %></p>
          </div>
          <div class="form-group mb-3">
            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control" %>
            <p class='error text-color-errors'><%= show_errors(@user, :email) %></p>
          </div>
          <div class="form-group mb-3">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control" %>
            <p class='error text-color-errors'><%= show_errors(@user, :password) %></p>
          </div>
          <div class="form-group mb-3">
            <%= form.label :birth %>
            <%= form.date_field :birth, class: "form-control" %>
            <p class='error text-color-errors'><%= show_errors(@user, :birth) %></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <%= form.label :phone %>
            <%= form.text_field :phone, class: "form-control" %>
            <p class='error text-color-errors'><%= show_errors(@user, :phone) %></p>
          </div>
          <div class="form-group mb-3">
            <%= form.label :position %>
            <%= form.select(:position, [['intern', 'intern'],
                  ['junior', 'junior'],
                  ['senior', 'senior'],
                  ['pm', 'pm'],
                  ['ceo', 'ceo'],
                  ['cto', 'cto'],
                  ['bo', 'bo']],
                  {},
                  { class: "form-control" }) %>
          </div>
          <div class="form-group mb-3">
            <%= form.label :information %>
            <%= form.text_area :information, class: "form-control" %>
            <p class='error text-color-errors'><%= show_errors(@user, :information) %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form.submit "Create", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
